* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  border-radius: 8px;
  border-color: blue;
  color: green;

  font-size: 24px;
}

#datetime-picker:hover,
#datetime-picker:focus,
#datetime-picker:active {
  border-color: yellow;
}

[data-start] {
  border-radius: 8px;
  border-color: green;
  color: green;
  background-color: transparent;

  font-size: 24px;

  cursor: pointer;
}

[data-start]:hover,
[data-start]:focus,
[data-start]:active {
  border-color: yellow;
  color: blue;
}

.value {
  color: blue
}

.label {
  color: orange
}

.field {
  font-size: 30px;
}

button:disabled,
#datetime-picker:disabled,
button:disabled:hover,
#datetime-picker:disabled:hover,
button:disabled:focus,
#datetime-picker:disabled:focus,
button:disabled:active,
#datetime-picker:disabled:active {
  color: red;
  border-color: red;
}